<section class="profile-container">
  <div class="profile-container-box">
    <div class="profile-container-box-center">
      <%= link_to "" do %>
        <div class="profile-container-box-center-icon">
          <div class="profile-container-box-center-icon-image">
            <%= image_tag @user.image if @user.image %>
          </div>
          <h2><%= @user.nickname %></h2>
        </div>
      <% end %>
      <div class="profile-container-box-center-score">
        <span>評価 0</span>
        <span>出品数 0</span>
      </div>
    </div>
  </div>
  <div class="profile-container-main">
    <div class="profile-container-main-ratings">
      <div class="profile-container-main-ratings-box clearfix">
        <div class="profile-container-main-ratings-box-left">
          <i class="fas fa-laugh"></i>
          <div class="profile-container-main-ratings-box-left-score">0</div>
        </div>
      </div>
      <div class="profile-container-main-ratings-box clearfix">
        <div class="profile-container-main-ratings-box-center">
          <i class="fas fa-meh"></i>
          <div class="profile-container-main-ratings-box-center-score">0</div>
        </div>
      </div>
      <div class="profile-container-main-ratings-box clearfix">
        <div class="profile-container-main-ratings-box-right">
          <i class="fas fa-frown"></i>
          <div class="profile-container-main-ratings-box-right-score">0</div>
        </div>
      </div>
    </div>
    <div class="profile-container-main-description">
      <p>
<%= @user.profile %>
      </p>
    </div>
  </div>
  <div class="item-social-media-box">
    <ul>
      <li>
        <%= link_to "" do %>
          <i class="fab fa-facebook item-social-media-box-facebook"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <i class="fab fa-twitter item-social-media-box-twetter"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <i class="fab fa-line item-social-media-box-line"></i>
        <% end %>
      </li>
    </ul>
  </div>
</section>
<div class="item-exhibitor">
  <section class="item-exhibitor__item-box">
    <h2 class="exhibitor_products">
      <%= link_to "" do %>
        この出品者の商品
      <% end %>
    </h2>
    <div class="item-exhibitor__item-box-content clearfix">
      <%= render @products %>
    </div>
  <%= paginate @products %>
  </section>
</div>
