.container
  %header.header
    %h1
      = link_to root_path do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3708647559"
    %nav.header-progress
      %ol
        %li
          会員情報
          .header-progress-bar-top.completed
        %li.active
          電話番号認証
          .header-progress-bar.active
        %li
          住所入力
          .header-progress-bar
        %li
          支払い方法
          .header-progress-bar
        %li
          完了
          .header-progress-bar-end
  %main.main
    %section.main-section
      %h2 電話番号の確認
      = form_for resource,html: {class: 'main-section__form'}, url: snsphone_new_path do |f|
        .main-section__form-content
          .main-section__form-content-group
            = f.label :携帯電話の番号
            %span 必須
            = f.text_field :phone_number, placeholder: "携帯電話の番号を入力"
            - resource.errors.full_messages_for(:phone_number).each do |message|
              .validation-error-mesage
                = message
          %p.main-section__form-content-error 電話番号の書式を確認してください
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit 'SMSを送信する', class: 'main-section__form-content-submit'
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .main-section__form-content-bottom
            %a
              電話番号の確認が必要な理由
              %i

  = render "/logo/footer"
