= render "/logo/header"
.container
  %main.main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path
      .login-panel__sns
        = link_to user_facebook_omniauth_authorize_path do
          %button#facebook-login.login-panel__sns-facebook
            %i.fab.fa-facebook
            Facebookでログイン

        = link_to user_google_omniauth_authorize_path do
          %button#google-login.login-panel__sns-google
            %i.fab.fa-google
            Googleでログイン
      .login-panel__mail
        = form_for(resource, url: new_user_session_path) do |f|
          .login-panel__form-form-mail
            = f.text_field :email, placeholder: "メールアドレス", class: 'login-panel__form-form-mail-input'
          .login-panel__form-form-password
            = f.password_field :password, placeholder: "パスワード", class: 'login-panel__form-form-password-input'
          .login-panel__form-form-recaptcha
            - flash.each do |name, msg|
              - if name = alert
                = content_tag :div, msg, id: "flash_alert" if msg.is_a?(String)
            = flash[:recaptcha_error]
            = recaptcha_tags
          .login-panel__form-form-certification
            = f.submit 'ログイン', class: 'login-panel__form-form-submit'
        = link_to new_password_path(resource_name) do
          .login-panel__form-form-forgot パスワードをお忘れの方
  = render "/logo/footer"
