= render "/logo/header"

= render "/shared/exhibitor"
#container
  %main.main
    %section.main__section
      .main__section__inner.clearfix
        = form_for @product do |f|
          = f.submit "変更する", class: "button"
          = link_to "キャンセル", :back, {class: "back"}

= render "/logo/footer"
