= render "/shared/header"

.main
  .main-top
    .main-top__content
      .main-top__content__box
        %h2
          スマホでかんたん
          %br
          フリマアプリ
        %p.top-text
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .main-top__store
          %a.left-link{href: ""}
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2777205881"}
          %a.right-link{href: ""}
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2777205881"}
        %img.main-top__image{src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2777205881"}
  .main-content
    .item-exhibitor
      %section.item-exhibitor__item-box
        %h2
          商品一覧
        .item
          = link_to "新着アイテム", list_products_path, class: "item__link"
        .item-exhibitor__item-box-content.clearfix
          = render @products
          = link_to "すべての商品を見る", list_products_path, class: "all-item-link"

= render "/shared/footer"
