<%= render "/shared/header" %>
<!--
<nav class="nav">
  <ul>
    <li>
      <%= link_to root_path do %>
        <span>メルカリ</span>
      <% end %>
    </li>
      <i class="fa fa-chevron-right nav__angle bold"></i>
    <li>
      <span><%= @product.name %></span>
    </li>
  </ul>
</nav>
 -->
<section class="item-container">
  <h1><%= @product.name %></h1>
  <div class="item-container__main clearfix">
    <div class="item-container__main-photo">
      <div class="item-container__main-photo-main">
        <%= image_tag("https://mcdn.mercariapp.com/item/detail/orig/photos/m70692846747_1.jpg?1548561871") %>
      </div>
      <div class="item-container__main-photo-bottom">
        <div class="item-container__main-photo-bottom-ele">
          <%= image_tag("https://mcdn.mercariapp.com/item/detail/orig/photos/m70692846747_1.jpg?1548561871") %>
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <%= image_tag("https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_2.jpg?1548561871") %>
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <%= image_tag("https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_3.jpg?1548561871") %>
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <%= image_tag("https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_4.jpg?1548561871") %>
        </div>
        <div class="item-container__main-photo-bottom-ele">
          <%= image_tag("https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m70692846747_5.jpg?1548561871") %>
        </div>
      </div>
    </div>
    <table class="item-container__main-table">
      <tbody>
        <tr>
          <th>出品者</th>
          <td>
            <%= link_to "#{@product.seller.nickname}", "" %>
            <div>
              <div class="item-container__main-table-rating">
                <i class="fas fa-laugh item-container__main-table-rating-good"></i>
                <span>0</span>
              </div>
              <div class="item-container__main-table-rating">
                <i class="fas fa-meh item-container__main-table-rating-normal"></i>
                <span>0</span>
              </div>
              <div class="item-container__main-table-rating">
                <i class="fas fa-frown item-container__main-table-rating-bad"></i>
                <span>0</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td class="item-container__main-table-category">
            <%= link_to "" do %>
              <div>
                仮カテゴリー
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>ブランド</th>
          <td>
            <%= link_to "" do %>
              <div>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>商品の状態</th>
          <td><%= @product.status %></td>
        </tr>
        <tr>
          <th>発送料の負担</th>
          <td><%= @product.shipping_burden %></td>
        </tr>
        <tr>
          <th>配送の方法</th>
          <td><%= @product.shipping_method %></td>
        </tr>
        <tr>
          <th>配送元地域</th>
          <td>
            <%= link_to "#{@product.region}", "" %>
          </td>
        </tr>
        <tr>
          <th>発送日の目安</th>
          <td><%= @product.shipping_timetable %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item-container__price">
    <span class="item-container__price-price"><%= price_format(@product.price) %></span>
    <span class="item-container__price-tax">(税込)</span>
    <span class="item-container__price-fee">
      <%= @product.shipping_burden == "送料込み(出品者負担)" ? "送料込み" : "着払い" %>
    </span>
  </div>
  <%= link_to "購入画面に進む", "", { class: "item-container__buy" } %>
  <div class="item-container__description">
    <p><%= @product.description %></p>
  </div>
  <div class="item-container__button clearfix">
    <div class="item-container__button-left">
      <%= link_to "", { class: "item-container__button-left-like" } do %>
        <i></i>
        <span>いいね！</span>
        <span data-num="like">仮</span>
      <% end %>
      <%= link_to "", { class: "item-container__button-left-report" } do %>
        <i></i>
        <span>不適切な商品の報告</span>
      <% end %>
    </div>
    <div class="item-container__button-right">
      <%= link_to "" do %>
        <i></i>
        <span>あんしん・あんぜんへの取り組み</span>
      <% end %>
    </div>
  </div>
</section>
<ul class="item-link clearfix">
  <li class="item-link-prev">
    <% if @product.prev_id %>
      <%= link_to product_path(@product.prev_id) do %>
        <i class="fas fa-chevron-left item-link__angle"></i><%= @product.prev_id.name %>
      <% end %>
    <% end %>
  </li>
  <li class="item-link-next">
    <% if @product.next_id %>
      <%= link_to product_path(@product.next_id) do %>
        <%= @product.next_id.name %><i class="fas fa-chevron-right item-link__angle"></i>
      <% end %>
    <% end %>
  </li>
</ul>
<div class="item-social-media-box">
  <ul>
    <li>
      <%= link_to "" do %>
        <i class="fab fa-facebook item-social-media-box-facebook"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "" do %>
        <i class="fab fa-twitter item-social-media-box-twetter"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "" do %>
        <i class="fab fa-line item-social-media-box-line"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "" do %>
        <i class="fab fa-pinterest item-social-media-box-pinterest"></i>
      <% end %>
    </li>
  </ul>
</div>
<div class="item-exhibitor">
  <section class="item-exhibitor__item-box">
    <h2>
      <%= link_to "#{@product.seller.nickname}さんのその他の出品"%>
    </h2>
    <div class="item-exhibitor__item-box-content clearfix">
      <%= render @products %>
    </div>
    <section class="item-exhibitor__item-box">
    <h2>
      <%= link_to "仮カテゴリー その他の商品", "" %>
    </h2>
    <div class="item-exhibitor__item-box-content clearfix">
      <section class="item-exhibitor__item-box-content--box">
        <%= link_to "" do %>
          <%= image_tag("https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169") %>
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        <% end %>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <%= link_to "" do %>
          <%= image_tag("https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169") %>
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        <% end %>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <%= link_to "" do %>
          <%= image_tag("https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169") %>
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        <% end %>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <%= link_to "" do %>
          <%= image_tag("https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169") %>
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        <% end %>
      </section>
      <section class="item-exhibitor__item-box-content--box">
        <%= link_to "" do %>
          <%= image_tag("https://mcdn.mercariapp.com/thumb/photos/m41943918196_1.jpg?1548676169") %>
          <div class="item-exhibitor__item-box-content--box-body">
            <h3>モテアン 白赤</h3>
            <div class="item-exhibitor__item-box-content--box-body-bottom clearfix">
              <div class="item-exhibitor__item-box-content--box-body-bottom-price">
                ¥ 28,000
              </div>
              <div class="item-exhibitor__item-box-content--box-body-bottom-like">
                <i></i>
                <span>2</span>
              </div>
              <p>(税込)</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </section>
</div>

<%= render "/shared/footer" %>
